<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="dialog">
		<div class="modal-header">
			<h4 class="modal-title">[(#{mikio})]</h4>
		</div>
		<div class="modal-body">
			<div class="form-group fg-line">
			    <label for="name">[(#{name})]</label>
			    <input type="text" class="form-control input-sm" id="mikioId" th:placeholder="#{mikio_id}" ng-model="reference.mikioId">
			</div>
			<div class="form-group fg-line">
			    <label for="nurse">[(#{nurse})]</label>
                <select id="nurse" th:placeholder="#{placeholder_nurse_name}" class="form-control" ng-model="reference.nurseUid">
                    <option ng-repeat="nurse in reference.nurses" value="{{nurse.uid}}">{{nurse.name}}</option>
                </select>
			</div>
			<div class="form-group fg-line">
			    <label for="location">[(#{location})]</label>
			    <input type="text" class="form-control input-sm" id="location" th:placeholder="#{location}" ng-model="reference.properties.location">
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-link" ng-click="cancel()">[(#{cancel})]</button>
			<button class="btn btn-link" ng-click="ok()" ng-disabled="!reference.mikioId">[(#{save})]</button>
		</div>
	</th:block>	
</body>
</html>