<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="dialog">
		<div class="modal-header">
			<h4 class="modal-title">[[#{campus}]]</h4>
		</div>
		<div class="modal-body">
			<div class="form-group fg-line">
			    <label for="campus">[[#{campus_id}]]</label>
			    <input type="text" class="form-control input-sm" id="campus" th:placeholder="#{placeholder_campus_id}" required ng-model="reference.campusId">
			</div>
			<div class="form-group fg-line">
			    <label for="name">[[#{name}]]</label>
			    <input type="text" class="form-control input-sm" id="name" th:placeholder="#{placeholder_campus_name}" required ng-model="reference.name">
			</div>
			<div class="form-group fg-line" ng-if="reference.authKey">
			    <label for="authKey">[(#{auth_key})]</label>
				<textarea class="form-control" data-auto-size  id="authKey" ng-model="reference.authKey" ng-readonly="true"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-link" ng-click="cancel()">[(#{cancel})]</button>
			<button class="btn btn-link" ng-click="ok()">[(#{save})]</button>
		</div>
	</th:block>	
</body>
</html>