<div class="container">
    <div class="card" id="profile-main" data-ng-controller="studentProfileCtrl as tctrl" ng-init="init()">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="" ngf-select="upload($file)" ngf-multiple="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" ngf-resize="{width: 512, height: 512, centerCrop:true}">
                        <img class="img-responsive" ng-src="{{profileUrl}}" alt="">
                    </a>
                    <a href="" class="pmop-edit" ngf-select="upload($file)" ngf-multiple="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" ngf-resize="{width: 512, height: 512}">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">[(#{update_profile_picture})]</span>
                    </a>
                </div>

                <div class="pmo-stat">
                    <h2 class="m-0 c-white">{{student.name}}</h2>
                    {{tctrl.getRole(student.roles)}}
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs" ng-show="student.userProperties.tel || student.userProperties.mobile || student.userProperties.email || student.userProperties.address">
                <h2>[(#{contact})]</h2>
                <ul>
                    <li><i class="zmdi zmdi-phone" ng-show="student.userProperties.tel"></i> {{student.userProperties.tel}}</li>
                    <li><i class="zmdi zmdi-smartphone-iphone" ng-show="student.userProperties.mobile"></i> {{student.userProperties.mobile}}</li>
                    <li><i class="zmdi zmdi-email" ng-show="student.userProperties.email"></i> {{student.userProperties.email}}</li>
                    <li><i class="zmdi zmdi-pin" ng-show="student.userProperties.address"></i> {{student.userProperties.address}}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'fragment/profile-menu/student'"></ul>
            <data ui-view></data>
        </div>
    </div>
</div>
