<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	data-ng-app="mihealth"
	style="height: 100%;" >
<head>
	<th:block th:replace="fragment/layout.html :: common_module"></th:block>

	<title>Login</title>

	<!--/* Custom CSS */-->

	<!--/* Custom JS */-->
	<script th:src="@{/lib//bootstrap-growl/bootstrap-growl.min.js}"></script>
	<script th:src="@{/js/controllers/login.js}"></script>
	<script th:src="@{/js/services.js}"></script>
	<script th:src="@{/js/modules/form.js}"></script>

	<body class="login-content" data-ng-controller="loginCtrl as lctrl" data-ng-init="lctrl.init()">
	<div class="btn-group" style="position: absolute; top: 10px; right:10px; box-shadow:none;" uib-dropdown>
	    <button type="button" class="btn btn-default" style="background:transparent;"uib-dropdown-toggle> <i class="zmdi zmdi-globe-alt zmdi-hc-fw"></i> {{curLocale.displayName}}&nbsp;<span class="caret"></span></button>
	    <ul class="dropdown-menu pull-right">
	        <li data-ng-repeat="w in locales"><a href="" ng-click="setCurLocale($index)">{{ w.displayName }}</a></li>
	    </ul>
	</div>

	<!-- Login -->
	<div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login}" data-ng-if="lctrl.login">
		<form name="loginForm" ng-submit="lctrl.doLogin(user)" >
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
				<div class="fg-line">
					<input name="username" type="text" class="form-control" th:placeholder="#{username}" ng-minlength="4" ng-model="user.id">
				</div>
			</div>
		
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
				<div class="fg-line">
					<input name="password" type="password" class="form-control" th:placeholder="#{password}" ng-minlength="4" ng-model="user.password">
				</div>
			</div>
		
			<div class="clearfix"></div>
		
			<div class="checkbox" ng-hide="true">
				<label>
					<input type="checkbox" value="">
					<i class="input-helper"></i>
					[(#{keep_sign_in})]
				</label>
			</div>
			<button class="btn btn-login btn-danger btn-float" type="submit" ng-disabled="loginForm.$invalid || !user.id || !user.password"><i class="zmdi zmdi-arrow-forward"></i></button>
		</form>
		<ul class="login-navigation">
			<li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.activateRegister()">[(#{register})]</li>
			<li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.activateForgot()">[(#{forgot_password})]</li>
		</ul>
	</div>
	
	<!-- Register -->
	<div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register}" data-ng-if="lctrl.register">
		<form name="registerForm" ng-submit="lctrl.doRegist(user)" >
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-balance"></i></span>
				<div class="fg-line">
					<input type="text" class="form-control" th:placeholder="#{campus_id}" ng-change="checkCampus(user.campusId)" ng-model="user.campusId">
				</div>
				<span class="input-group-addon" style="padding-right:0px;"><i class="zmdi zmdi-hc-2x zmdi-check" ng-class="isAvailableCampus() ? 'mdc-text-blue' : 'mdc-text-red'"></i></span>
			</div>
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
				<div class="fg-line">
					<input type="email" class="form-control" th:placeholder="#{email_address}" ng-change="checkAccount(user.account.id)" ng-model="user.account.id">
				</div>
				<span class="input-group-addon" style="padding-right:0px;"><i class="zmdi zmdi-hc-2x zmdi-check" ng-class="{'mdc-text-blue' : isAvailableAccount(user.account.id) , 'mdc-text-red' : !isAvailableAccount(user.account.id)}"></i></span>
			</div>
		
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
				<div class="fg-line">
					<input type="password" class="form-control" th:placeholder="#{password}" ng-minlength="4" ng-model="user.account.password">
				</div>
			</div>

			<div class="input-group m-b-20">
				<span class="input-group-addon"></span>
				<div class="fg-line" style="text-align:left;">
					<label class="radio radio-inline m-r-20" style="margin-top:8px;">
	                	<input type="radio" name="inlineRadioOptions" value="ROLE_ADMIN" ng-model="user.role">
	                	<i class="input-helper"></i> [(#{administrator})]
	            	</label>   
					<label class="radio radio-inline m-r-20" style="margin-top:8px;">
	                	<input type="radio" name="inlineRadioOptions" value="ROLE_TEACHER" ng-model="user.role">
	                	<i class="input-helper"></i> [(#{teacher})]
	            	</label>   
					<label class="radio radio-inline m-r-20" style="margin-top:8px;">
	                	<input type="radio" name="inlineRadioOptions" value="ROLE_NURSE" ng-model="user.role">
	                	<i class="input-helper"></i> [(#{nurse})]
	            	</label>   
				</div>
			</div>
		
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
				<div class="fg-line" style="text-align:left;">
					<input type="text" class="form-control" th:placeholder="#{name}" ng-model="user.name">
				</div>
			</div>

			<div class="input-group m-b-20" ng-show="user.role=='ROLE_TEACHER'">
				<span class="input-group-addon"><i class="zmdi zmdi-account-box"></i></span>
				<div class="row">
					<div class="col-sm-6">
						<div class="fg-line">
							<input type="text" class="form-control" th:placeholder="#{grade}" ng-model="user.properties.grade">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="fg-line">
							<input type="text" class="form-control" th:placeholder="#{class_id}" ng-model="user.properties.classId">
						</div>
					</div>
				</div>					
			</div>
	
			<div class="input-group m-b-20" ng-show="user.role=='ROLE_NURSE'">
				<span class="input-group-addon"><i class="zmdi zmdi-account-box"></i></span>
				<div class="fg-line" style="text-align:left;">
					<label class="radio radio-inline m-r-20" style="margin-top:8px;">
	                	<input type="radio" name="inlineRadioOptions" value="internal" ng-model="user.properties.dept">
	                	<i class="input-helper"></i> [(#{internal_disease})]
	            	</label>   
					<label class="radio radio-inline m-r-20" style="margin-top:8px;">
	                	<input type="radio" name="inlineRadioOptions" value="surgery" ng-model="user.properties.dept">
	                	<i class="input-helper"></i> [(#{surgery})]
	            	</label>   
				</div>
			</div>
	
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
				<div class="fg-line">
					<input type="text" class="form-control" th:placeholder="#{tel}" ng-model="user.properties.tel">
				</div>
			</div>
	
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-smartphone-iphone"></i></span>
				<div class="fg-line">
					<input type="text" class="form-control" th:placeholder="#{tel}" ng-model="user.properties.mobile">
				</div>
			</div>
	
			<div class="clearfix"></div>
		
			<div class="checkbox">
				<label>
					<input type="checkbox" value="">
					<i class="input-helper"></i>
					[(#{accept_agreement})]
				</label>
			</div>
		
			<button class="btn btn-login btn-danger btn-float" type="submit" ng-disabled="!isAvailableCampus() || registerForm.$invalid || !user.account.id || !user.account.password || !isAvailableAccount(user.account.id)"><i class="zmdi zmdi-arrow-forward"></i></button>
		
			<ul class="login-navigation">
				<li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.activateLogin()">[(#{login})]</li>
				<li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.activateForgot()">[(#{forgot_password})]</li>
			</ul>
		</form>
	</div>
	
	<!-- Forgot Password -->
	<div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot}" data-ng-if="lctrl.forgot">
		<p class="text-left">[(#{enter_username_email})]</p>
	
		<div class="input-group m-b-20">
			<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
			<div class="fg-line">
				<input type="email" class="form-control" th:placeholder="#{email_address}">
			</div>
		</div>
	
		<a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
	
		<ul class="login-navigation">
			<li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.activateLogin()">[(#{login})]</li>
			<li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.activateRegister()">[(#{register})]</li>
		</ul>
	</div>

	<div style="position: absolute; bottom: 5%; width: 50%; margin-left: 25%;">
		MiHealth [(${buildVersion})] | Copyright &copy; 2016 MiTAC Communication Co., Ltd.
	</div>
	
	<th:block th:replace="fragment/layout.html :: ie_warning"></th:block>
</body>
</html>