<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-settings m-r-5"></i> [(#{settings})]</h2>

        <ul class="actions" data-ng-if="!config.editMode.settings" th:if="${user.hasRole('ROLE_ADMIN')}">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="config.editMode.settings = true" href="">[(#{edit})]</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="!config.editMode.settings">
            <dl class="dl-horizontal">
                <dt>[(#{vision_grade_unit})]</dt>
                <dd>{{getNotaionname(campus.settings.visionGradeUnit)}}</dd>
            </dl>
        </div>

        <form data-ng-submit="save(campus)" class="pmbb-edit" data-ng-if="config.editMode.settings">
            <dl class="dl-horizontal">
                <dt class="p-t-10">[(#{vision_grade_unit})]</dt>
                <dd>
                	<div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select class="form-control" ng-model="campus.settings.visionGradeUnit">
                                	<option>[(#{place_holder_notation_mode})]</option>
                                    <option ng-repeat="option in config.notationMode" value="{{option.value}}">{{option.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
<!--                     <div class="fg-line"> -->
<!--                         <input data-ng-model="campus.settings.visionGradeUnit" type="text" class="form-control" th:placeholder="#{place_holder_campus_id}"> -->
<!--                     </div> -->

                </dd>
            </dl>
			<div class="m-t-30">
                <button class="btn btn-primary btn-sm" type="submit">[(#{save})]</button>
                <button class="btn btn-link btn-sm" data-ng-click="config.editMode.settings = false" >[(#{cancel})]</button>
            </div>
		</form>
    </div>
</div>
